<div class="container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="empForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <!-- <mat-error *ngIf="message != ''" [ngClass]="errorClass">
            {{message}}
          </mat-error> -->
        <div class="flex-container" fxLayout="row" fxLayout.xs="column">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Name" formControlName="name" required>
            <mat-error>
              Please provide a valid name
            </mat-error>
            <!-- <mat-error *ngIf="form.controls.username.errors?.required">Email is required</mat-error> -->
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error>
              Please provide a valid email address
            </mat-error>
            <!-- <mat-error *ngIf="form.controls.username.errors?.required">Email is required</mat-error> -->
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Mobile" formControlName="mobile" required>
            <mat-error>
              Please provide a valid mobile
            </mat-error>
            <!-- <mat-error *ngIf="form.controls.username.errors?.required">Email is required</mat-error> -->
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>
        </div>
        <div class="flex-container" fxLayout="row" fxLayout.xs="column">
          <button mat-raised-button color="primary" [disabled]="!empForm.valid">Save</button>
        </div>
      </form>

    </mat-card-content>
  </mat-card>
</div>